@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Libre+Barcode+39+Text&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {    
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Dosis', sans-serif;
    @apply bg-slate-800 text-gray-300
  }
  .NavTitle{
    font-family: 'Libre Barcode 39 Text', cursive;
    @apply text-7xl text-violet-400 max-w-xl m-auto mt-4 mb-4 animate-pulse
  }
}

.content {
  @apply mb-auto mt-auto m-20;
}

input {
  @apply block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
  dark:text-white dark:border-gray-600 dark:focus:border-violet-400 focus:outline-none focus:ring-0 focus:border-violet-400
}

label {
  @apply peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 
  top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-violet-400 peer-focus:dark:text-violet-400 peer-placeholder-shown:scale-100 
  peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6
}
